.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
   
}

.launchpad_section{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.launchpad_main{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;  
}

.launchpad_protocol_text{
    display: block;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.launchpad_protocol_text h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 46px;
    font-family: Segoe UI;
    padding: 0;
    margin: 0;
}


.launchpad_protocol_text p{
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 30px;
}

.button_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.create_button{
    margin-right: 16px;
    /* width: 160px;
    height: 52px; */
    background-color: #FFEEE3;
    border-radius: 16px;
    padding: 18px 48px;
    border: none;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 600;
    text-align: center;
    color: #FA6200;
    cursor: pointer;
}

.learn_more_button{
    margin-right: 16px;
    /* width: 160px;
    height: 52px; */
    background-color: #FFEEE3;
    border-radius: 16px;
    padding: 18px 48px;
    border: none;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 600;
    text-align: center;
    color: #FA6200;
    cursor: pointer;
}


/*------------- MEDIA QUERY--------------- */

@media screen and (max-width: 576px) {
   
    .button_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .learn_more_button{
        margin-right: 0;
        padding: 18px 78px;
        font-size: 16px;
        margin-top: 14px;
    }

    .create_button{
        margin-right: 0;
        padding: 18px 78px;
        border: none;
    }

    .launchpad_protocol_text h1{
        font-size: 38px;
        font-weight: 600;
    }
    
    
    .launchpad_protocol_text p{
        font-size: 18px;
    }
    .item_description {
        width: 100%;
        margin: 12px 0px;
        min-width: 100%;
        max-width: 100%;
    }
    
}