body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ju367v9c {
  background: rgb(248, 157, 172) !important;
}

:root{
  --background-color: #faf9fa;
  --text-color: #222;
  --main-background-color: #fff;
  --main-text-color: rgba(0,0,0,0.85);
  --main-border-color: #f0f0f0;
  --red-button-bg-color: #fdeaf1;
  --red-button-text-color: #f95997;
  --network-button-bg-color: #f3f3f4;
  --empty-text-color: rgba(0,0,0,0.25);
  --divider-border: 1px solid #f0f0f0;
  --divider-color: #f0f0f0;
  --fade-text-color: rgba(0,0,0,0.45);
  --placeholder-text-color: rgba(54,54,54,0.3);
  --input-border: 1px solid #d9d9d9;
  --default-btn-text-color: #555;
  --default-btn-bg-color: #fff;
  --default-btn-border: 1px solid #d9d9d9;
  --alert-info-bg-color: #fff0f3;
  --alert-info-border: 1px solid #ffcfdc;
  --alert-warning-bg-color: #fffbe6;
  --alert-warning-border: 1px solid #ffe799;
  --alert-warning-text-color: #222;
  --progress-bg-color: #f5f5f5;
  --clock-text-color: #222;
  --disabled-bg: rgba(0,0,0,0.1);
  --disabled-text-color: rgba(0,0,0,0.3);
  --active-menu-item-bg: #fff0f3;
  --active-menu-item-text: #f95192;
  --alert-success-bg-color: #ebf8f2;
  --alert-success-border: 1px solid #e1f5eb;
  --alert-success-text-color: #5e6461;
  --table-row-hover: #fafafa;
  --advanced-mode-secondary-text: rgba(0,0,0,0.08);
  background: #faf9fa;
  color: #222;
}